.card__like-button {
    min-height: 19px;
    min-width: 22px;
    border: none;
    background-image: url(../../../images/like-button-min.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    transition: 0.5s;
}

.card__like-button:hover {
    cursor: pointer;
    opacity: 0.5;
}