.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
    margin-bottom: 67px;
}

@media screen and (max-width: 1023px) {
    .cards {
        justify-content: space-around;
        margin-bottom: 48px;
    }
}